# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/
build/

# Environment files
.env
.env.local
.env.production
.env.development

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System & IDE files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Temporary / OS junk
Thumbs.db
